#replyBoard{
	min-width:320px;
	background-color: #ffffff;
}

#Jboard{

}

.boardWriter{
	padding:20px 10px 0 10px;
	border-bottom:1px solid #e1e1e1;
}

.boardWriter ul{
	padding:0;
}

.boardWriter li{
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom:15px;
}

.boardWriter li.clearFix{
	*zoom:1;
}

.boardWriter li.clearFix:after{
	clear:both;
	display:block;
	content:'';
}

.inputWrap{
	width:50%;
	float:left;
}

.boardWriter li input.field{
	padding:0;
	margin:0;
	border:1px solid #d7d5d6;

	-webkit-border-radius:1px;
	-webkit-appearance:none;
	width:98%;
	height:32px;
	font-size:0.75em;
	 line-height:2.75em;
	 text-indent:5px;
}

.boardWriter li textarea{
	padding:10px 0;
	margin:0;
	border:1px solid #d7d5d6;

	-webkit-border-radius:1px;
	-webkit-appearance:none;
	width:99%;
	height:85px;
	font-size:1em;
	 line-height:1em;
	 text-indent:5px;
	 resize:none;
}

.boardWriter li input[type="submit"]{
	width:100%;
	display:block;
	font-weight:bold;
	font-size:0.75em;
	text-decoration:none;
	padding:5px 0;
	-webkit-border-radius:0px;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;

	background-color:#000;
	color:#fff;
	border:none;
	margin:0;
	cursor:pointer;
}

.boardList{

}

.boardList ul{
	padding:0;
	margin:0;
}

.boardList li{
	position:relative;
	list-style:none;
	margin:0;
	padding:35px 0 35px 0;
	border-bottom:1px solid #e1e1e1;

}

.boardList li.newList{
	display:none;
}

.boardList li span.name{
	position:absolute;
	top:10px;
	left:15px;
	font-weight:bold;
	font-size:0.75em;
}

.boardList li span.date{
	position:absolute;
	top:10px;
	font-size:0.75em;
	right:15px;
	color:#bfbfbd;
}

.boardList li .content{
	padding:5px 15px;
	text-align:left;
	font-size:0.75em;
	white-space: normal;
	text-overflow:ellipsis;
	overflow:hidden;
}

.boardList li a{
	position:absolute;
	display:block;
	bottom:10px;
	right:15px;
	border:1px solid #cecece;
	text-decoration:none;
	padding:3px 6px;
	font-weight:bold;
	font-size:0.75em;
	color:#000;
}

.boardPagination{
	padding:30px 0;
	text-align:center;
}

.boardPagination span.now{
    font-size:0.75em;

}

.boardPagination span.char{
    font-size:0.75em;

}

.boardPagination span.total{
	font-weight:bold;
	font-size:0.75em;
}

.boardPagination a{
	text-decoration:none;
	font-weight:bold;
	font-size:0.75em;
	color:#000;
	padding:0 10px;
}

.passwordBox{display:none;}

.passwordBox input{
	padding:0;
	margin:0;
	border:1px solid #d7d5d6;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	width:50%;
	height:32px;
	font-size:0.75em;
	 line-height:2.75em;
	 text-indent:5px;
}